[Unit]
Description=intercept-tools service that enables caps lock to be used as control and escape
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
WorkingDirectory=/etc/
ExecStart=udevmon -c caps2esc.yaml
Restart=always

[Install]
WantedBy=multi-user.target
